<div class="list-group">
    <a href="" class="list-group-item list-group-item-action">Tüm Kategoriler</a>
    <% for( let i = 0; i < categories.length; i++ ) { %>
         <a href="" class="list-group-item list-group-item-action"><%= categories[i] %></a>
    <% } %>
   
</div>